<!-- needs to be copied to /modules/fcs-aggregator -->
<Repositories>
   <styles>
      <style operation="searchRetrieve">../../xsl/fcs/result2view_v1.xsl</style>
      <style operation="scan">../../xsl/fcs/scan2view_v1.xsl</style>
      <style operation="scan-json">../../xsl/fcs/scan2json.xsl</style>
      <style operation="explain">../../xsl/fcs/explain2view_v1.xsl</style>
      <style operation="explain-json">../../xsl/fcs/explain2json.xsl</style>
      <style operation="default">../../xsl/misc/xml2view_v1.xsl</style>
   </styles>
   <item>
      <name>pes_eng_032</name>
      <label>Persian english dictionary</label>
      <id>1</id>
      <type>fcs</type>
      <style>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php?x-context=pes_eng_032&amp;operation=searchRetrieve&amp;query=rfpid=10</style>
      <uri>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
	</item>
   <item>
      <name>apc_eng_002</name>
      <label>Dictionary Damascus Variety</label>
      <id>2</id>
      <type>fcs</type>
      <style>../../xsl/glossary.xsl</style>
      <style>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php?x-context=apc_eng_002&amp;operation=searchRetrieve&amp;query=rfpid=10</style>
      <uri>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
   <item>
      <name>zul_eng_016</name>
      <label>isiZulu-English glossary</label>
      <id>1</id>
      <type>fcs</type>
      <style>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php?x-context=zul_eng_016&amp;operation=searchRetrieve&amp;query=rfpid=10</style>
      <style operation="explain">../../xsl/glossary-explain.xsl</style>
      <uri>http://127.0.0.1/corpus_shell/modules/mysqlonsru/GlossaryOnSRU.php</uri>
   </item>
</Repositories>